.App {
  text-align: center;
}

.start {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: green;
  color: aliceblue;
  margin: 10px;
}

.start:disabled{
  background-color: gray;
}

.stop {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: red;
  color: aliceblue;
  margin: 10px;
}

.reset {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: orange;
  color: aliceblue;
  margin: 10px;
}